---
// @ts-nocheck
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
});

const posts = entries.items.map((item) => {
  const { title, date, description, slug, listImage, content, horaires } = item.fields;
  return {
    title,
    slug,
    description,
	listImage,
    date: new Date(date).toLocaleDateString(),
	content,
	horaires
  };
});
---


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="events-container-title">Au jardin ce mois-ci</h1>
			<ul class="events-container">
				{posts.map((post) => {
					return (
				  <li class="event-item"
				  style={{ backgroundImage: "url(" + post.listImage.fields.file.url + ")" }}
				  >
					<a href={`/posts/${post.slug}/`}>
					  <h2 class="event-item-title">{post.title}</h2>
					</a>
					<time>{post.date}</time>
					<p>{post.description}</p>
				  </li>
				)})}
			  </ul>

		</main>
		<Footer />
	</body>
</html>

<style>
	.events-container {
		display: flex;
		justify-content: center;
		padding: 0;
	}
	.event-item {
		width: 400px;
		height: 600px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-right: 40px;
		list-style-type: none;
		position: relative;
	}
	.event-item-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #FFF6E5;
		font-size: 30px;
		font-weight: 400;
	}
	.events-container-title {
		font-size: 50px;
		font-weight: 500;
	}
</style>
